 <!-- my header hero part -->
    <div class="header_hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-10 mx-auto">
                    <div class="header_hero__text">    
                        <h2><span>music</span> for everyone.</h2>
                        <p>
                            hello this is music section, where the users can play multiple music from this website which makes them easy to understand the music through lyrics and its subtitle. When the users use it they can freely access everything.
                        </p>
                        <div class="header_text__btn">
                            <a href="#" alt="">download app now</a>
                            <a href="#" alt="" id="btn__2">start 30 days free trail</a>

                        </div>
                    </div>
                </div>
                <!-- right side images -->
                 <div class="col-lg-6 col-10 mx-auto">
                    <figure class="header_hero__img">
                        <img src="images/bg_hero.png" alt="" class="img-fluid" />
                    </figure>
                </div>
            </div>
        </div>
    </div>
     <!-- my header hero part ends-->