<!doctype html>
<html lang="en">
  <head>
       <link rel="stylesheet" href=" scss/main.css" />
       {{>headerLinks}}
  </head>

<body>
    {{>header}}
    {{errorComment}}
      {{>footer}}
</body>
</html>