<!doctype html>
<html lang="en">
  <head>
       <link rel="stylesheet" href=" scss/main.css" />
       {{>headerLinks}}
  </head>

<body>
    {{>header}}
    <h1>Welcome to the about us page ok</h1>
      {{>footer}}
</body>
</html>