<!doctype html>
<html lang="en">
  <head>
       <link rel="stylesheet" href=" scss/main.css" />
       {{>headerLinks}}
  </head>
  <body>

    
    {{>header}}

   {{>main_hero}}

  {{>footer}}
    
  </body>
</html>